body {
	margin: 0px
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 65px;
	width: 100%;

	background: linear-gradient(90deg, #1c6f51 1.18%, #72c3ba 100%);;
}

.header--logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
}

.header--logo > img {
	max-width: 32px;
	margin-right: 7px;
}

.header--title {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 24px;
	letter-spacing: -0.1em;

	color: #FFFFFF;
}

.header--text {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;

	color: #FFFFFF;
	
	margin-right: 37px;
}

.meme {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.meme--inputs {
	display: flex;
	flex-direction: row;

	border: 1px #D5D4D8;
	border-radius: 5px;

	margin-top: 36px;
	margin-left: 36px;
	margin-right: 36px;
}

.meme--input {
	height: 35px;
	width: 230px;
	margin: 0px;

	font-family: 'Karla';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #0D0D0D;
}

#input1 {
	margin-right: 17px;
}

.meme--btn {
	height: 40px;
	width: 477px;
	margin-top: 15px;

	background: linear-gradient(90deg, #1c6f51 1.18%, #72c3ba 100%);
	border: 0pt;
	border-radius: 5px;

	font-family: 'Karla';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

	text-align: center;
	letter-spacing: -0.1em;

	color: #FFFFFF;

}